.quest-image{
    width: 70%;
    margin-top: 10px;

}
main{
    background: linear-gradient(#e66465, #9198e5);
    height: 100%;
}
label{
    font-size: 1rem;
}
#results{
    font-size: 1.4rem;
}
.hidden{
    display: none;
}